@media (min-width: 480px) and (max-width: 700px) {
    .user-icon { left: 91% !important; }
}
@media (max-width: 991px) {
    .signin-icon {
        position: absolute;
        top: 28px;
        left: 93% !important;
        right: 0px;
        font-size: 1.4em !important;
        opacity: 0.4;
    }
    .address-icon {
        position: absolute;
        top: 28px;
        left: 93%;
    }
}
@media (min-width: 260px) and (max-width: 479px) {
    .user-icon { left: 82% !important; }
    .login-icon { left: 86% !important; }
    .address-icon { left: 86%; }
    .userreg-icon {
        position: absolute;
        top: 28px;
        left: 86%;
    }
    .signin-icon {
        position: absolute;
        top: 28px;
        left: 84% !important;
    }
}
@media (min-width: 768px) {
    .navbar-right {
        float: right!important;
        margin-right: 0px;
    }
    .example-8 .navbar-brand {
        background: url('../images/DMC%20Logo.png') center center no-repeat;
        height: 117px;
        left: 2%;
        right: 0;
        margin: auto;
        position: absolute;
    }
    .navbar {
        height: 100px !important;
        background-image: url('../images/header.png') !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-bottom: 0;
        border-radius: 0;
        border: 0;
    }
    #navbar8 { margin-top: 20px; }
}
@media (max-width: 767px) {
    .example-8 .navbar-brand {
        background: url('../images/DMC%20Logo.png') left / contain no-repeat;
        height: auto;
        left: 0;
        position: relative;
        padding: 24px;
    }
    .navbar {
        height: 50px !important;
        background-image: none !important;
        background-color: #56aee6 !important;
        margin-bottom: 0;
        border-radius: 0;
        border: 0;
    }
    #navbar8 {
        background: rgb(230, 230, 230);
        border: 1px solid #56aee6;
    }
    .publicName-icon {
        position: absolute;
        top: 31px;
        left: 86%;
    }
}
@media (max-width: 767px) and (min-width: 480px){
    .key-icon {
        position: absolute;
        top: 28px;
        left: 91%;
    }
}
@media (max-width: 480px) {
    #userProfileTable.table>tbody>tr>td, #userProfileTable.table>tbody>tr>th, #userProfileTable.table>tfoot>tr>td,
    #userProfileTable.table>tfoot>tr>th, #userProfileTable.table>thead>tr>td, #userProfileTable.table>thead>tr>th {
        display: table;
        clear: both;
        width: 100%;
        line-height: 32px;
    }
    #userProfileTable.table>tbody>tr>td.colonTd { display: none !important; }
}