<div class="">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-offset-2 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="schemeMain">
                    <!--<h4 class="color-theme text-uppercase text-center">
                        <span class="glyphicon glyphicon-hand-right"> </span>
                        Login
                    </h4>
                    <hr />-->
                    <br/>
                    <br/>
                    <div class="text-center color-red f-bold errorMsg text-center" ng-show="showLoginError">{{loginError}}</div>


                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" data-target="#home">Login</a></li>
                        <!--<li><a data-toggle="tab" data-target="#menu1">Register As Contractor</a></li>-->
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="schemeFormTitle">
                                <div class="schemeForm text-center">Login</div>
                                <form name="form1" id="form1" ng-submit="loginSubmit()">

                                    <div class="form-group errorMsg text-center" ng-show="errorMessage">{{errorMessageDetails}}
                                    </div>
                                    <div class="form-group">
                                        <input type="email" tabindex="1" ng-model="customerlogin.email" required class="form-control red-tooltiptbm" title="Enter Your Email" placeholder="Enter Your Email" value="" autocomplete="off"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" ng-model="customerlogin.password" tabindex="1" minlength="4" class="form-control red-tooltiptbm" title="Enter Password" placeholder="Enter Password" value="" data-placement="top" required autocomplete="off"/>
                                    </div>
                                    <div>
                                        <div class="text-center form-group">
                                            <button type="Submit" class="btn btn-success width120">
                                                Login
                                            </button>
                                        </div>
                                        <div class="clearfix visible-block"></div>
                                        <div class="pull-left">
                                            <a class="color-theme" data-toggle="modal" data-target="#createCitizen">New Registration </a>
                                        </div>
                                        <div class="pull-right">
                                            <a  class="color-theme" data-toggle="modal" data-target="#forgotPassword">Forgot Password?</a>
                                        </div>
                                        <div class="clearfix visible-block"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="schemeForm text-center">Registration</div>
                            <form role="form" class="" name="myform"  ng-submit="createContractor()">
                                <div class="modal-body">
                                    <div class="form-group errorMsg text-center" ng-show="errorInRegisterMessage">{{errorInRegisterDetails}}
                                    </div>
                                    <div class="schemForms row">

                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span>Name:</label>
                                            <input placeholder="Enter Name" type="text" ng-model="contractor.name" required maxlength="30" minlength="3" >
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span>Email:</label>
                                            <input placeholder="Enter Email" type="email" ng-model="contractor.email" required>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span>Phone No:</label>
                                            <input placeholder="Enter Phone No" ng-model="contractor.phone" type="text" required minlength="9" maxlength="10" >
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span>Password:</label>
                                            <input placeholder="Enter Password" ng-model="contractor.password" type="password" minlength="4" maxlength="20" required >
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span>Confirm Password:</label>
                                            <input placeholder="Confirm Password" ng-model="contractor.confirmPassword" minlength="4" maxlength="20" type="password"  required>
                                        </div>



                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success" >Submit</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                                </div>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<div id="createCitizen" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Registration</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="createCitizen()">
                <div class="modal-body">
                    <div class="form-group errorMsg text-center" ng-show="errorInRegisterMessage">{{errorInRegisterDetails}}
                    </div>
                    <div class="schemForms row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Name:</label>
                            <input placeholder="Enter Name" type="text" ng-model="addcitizen.name" required maxlength="30" minlength="3">
                        </div>
                        <div class="form-group col-lg-6 col-md-6col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Email:</label>
                            <input placeholder="Enter Email" type="email" ng-model="addcitizen.email" required>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Phone No:</label>
                            <input placeholder="Enter Phone No" ng-model="addcitizen.phone" type="text" required minlength="9" maxlength="10" >
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Password:</label>
                            <input placeholder="Enter Password" ng-model="addcitizen.password" type="password" minlength="4" maxlength="20" required >
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Confirm Password:</label>
                            <input placeholder="Confirm Password" ng-model="addcitizen.confirmPassword" minlength="4" maxlength="20" type="password"  required>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" >Submit</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="modal fade" id="forgotPassword" user="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Forgot Password</h4>
                <!--<h5 class="modal-title" ng-show="notRegisterd">{{notRegisterd}}</h5>
                <h5 class="modal-title" ng-show="sucessData">{{sucessData}}</h5>-->
            </div>
            <form class="simple-form"  ng-submit="forgotPassword(email)">
                <div class="modal-body">
                    <div class=" errorMsg text-center" ng-show="message">{{message}}</div>
                    <div class=" errorMsg text-center" ng-show="successMessage">{{successMessage}}</div>
                    <div>
                        <div class=" text-center color-red f-bold" ></div>
                        <div class="form-group" align="left">
                            <label for="email"> <span class="color-red f-bold f-left">*</span>Email:</label>
                            <input type="text" class="form-control" id="email"  ng-model="email" placeholder="Enter Email" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" value="Submit">Submit</button>
                    <button type="button" class="btn btn-info" value="Reset">Reset</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="registerSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body textStyle1">
                <h4>Successfully Register.</h4>
            </div>
        </div>

    </div>
</div>