<div class="">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ol class="breadcrumb nopadding">
                    <li class="breadcrumb-item"><a href="#/">Home</a></li>
                    <li class="breadcrumb-item active">{{userDetails.name}}</li>
                    <li class="breadcrumb-item"><a href="#/appliedForms">Track Requests</a></li>
                    <li class="breadcrumb-item active">Track Requests Details</li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="#/appliedForms" class="backbtnArea pull-right color-fff">
                    <div class="" id="content">
                        <div class="aside arrow">
                            <span class="glyphicon glyphicon-chevron-left"> </span>
                            <span class="backbtn">Go Back</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
                <!--<div class="schemeImg" ng-repeat="fileData in filterSchemeLists.file">
                   <div>
                    <img src="http://139.162.42.96:8899/api/Uploads/dhanbadDb/download/{{fileData.id}}" class="img-responsive img-thumbnail" />
                   </div>
                </div>-->
                <div class="table-responsive">
                    <table class="schemeDetails">
                        <tbody>
                        <tr>
                            <th class="width200">Title</th>
                            <td class="width20">:</td>
                            <td>{{requestLists.title}}</td>
                        </tr>
                        <tr>
                            <th class="width200">Email</th>
                            <td class="width20">:</td>
                            <td>{{requestLists.email}}</td>
                        </tr>
                        <tr>
                            <th class="width200">PersonName</th>
                            <td class="width20">:</td>
                            <td>{{requestLists.personName}}</td>
                        </tr>
                        <tr>
                            <th class="width200">Mobile Number</th>
                            <td class="width20">:</td>
                            <td>{{requestLists.mobile}}</td>
                        </tr>
                        <tr>
                            <th class="width200">Requested By</th>
                            <td class="width20">:</td>
                            <td>{{requestLists.requested}}</td>
                        </tr>
                        <tr>
                            <th class="width200">Association</th>
                            <td class="width20">:</td>
                            <td>{{requestLists.association}}</td>
                        </tr>
                        <tr>
                            <th class="width200">Request Status</th>
                            <td class="width20">:</td>
                            <td>{{requestLists.requestStatus}}</td>
                        </tr>
                        <tr>
                            <th class="width200">Accept Status</th>
                            <td class="width20">:</td>
                            <td>{{requestLists.acceptStatus}}</td>
                        </tr>
                        <tr>
                            <th class="width200">Created Time</th>
                            <td class="width20">:</td>
                            <td>{{requestLists.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                        </tr>
                        <tr>
                            <th colspan="2" >Uploaded Files : </th>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <ul>
                                    <li ng-repeat="files in requestLists.file">
                                        <a target="_blank" href="{{docUploadURL}}{{files.id}}">
                                            {{files.name}}
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">Description : </th>
                        </tr>
                        <tr>
                            <td colspan="3"><p>{{requestLists.description}}</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>