<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Beneficiaries List</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Beneficiaries List</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-click="addBeneficiariesModel()" lang="en">Add Beneficiaries List</button>
                        <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#benifExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <table id="benifExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Beneficiaries Name</th>
                            <th lang="en">Status</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="beneficiaries in beneficiariesLists">
                            <td class="text-capitalize" >{{beneficiaries.name}}</td>
                            <td class="text-capitalize">{{beneficiaries.status}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="editBeneficiaries(beneficiaries)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addBeneficiaries" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Add Beneficiaries</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="addBeneficiaries()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div ng-show="errorShow" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{showError}}
                            <hr class="m-tb10"/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Beneficiaries Name</span>:</label>
                            <input type="text" placeholder="Enter Beneficiaries Name" class="form-control" ng-model="beneficiaries.name"  />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Status</span>:</label>
                            <select ng-model="beneficiaries.status" data-style="btn-primary" data-placement="Select Plan ID" >
                                <option value="-- Select Status --" disabled>-- Select Status --</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editBeneficiaries" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Edit Beneficiaries</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="editBeneficiariesButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Beneficiaries Name</span>:</label>
                            <input type="text" placeholder="Enter Beneficiaries Name" class="form-control" ng-model="editBeneficiariesLists.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Status</span>:</label>
                            <select ng-model="editBeneficiariesLists.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="-- Select Status --" selected disabled>-- Select Status --</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button lang="en" type="submit" class="btn btn-success" lang="en">Update</button>
                    <button lang="en" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addBenifSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{beneficiaries.name}}</b> '  is Created.</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="addDeptSuccessModal()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<div id="editBenifSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Beneficiaries List is Edited.</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="addDeptSuccessModal()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>