<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Court Info</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right"> </span> Court Info</div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">Acts</div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme pull-right" ng-if="roleLogin.courtInfoedit">
                            <button id="createAct" type="button" class="btn btn-success pull-right"
                                    ng-click="courtClick()" lang="en">Create Court
                            </button>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#court')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
        </div>

        <table id="court" ng-show="hideDetails" class="table table-bordered table-striped"></table>

        <div class="table-responsive">
            <table datatable="ng" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="name" custom-sort order="'name'" sort="sort" lang="en">Court Name&nbsp;</th>
                        <th class="jurisdiction" custom-sort order="'jurisdiction'" sort="sort" lang="en">Court Jurisdiction&nbsp;</th>
                        <th class="city" custom-sort order="'city'" sort="sort" lang="en">City&nbsp;</th>
                        <th class="address" custom-sort order="'address'" sort="sort" lang="en">Address&nbsp;</th>
                        <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.courtInfoedit" lang="en">Action&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="courtInfo in courtData track by $index ">
                        <td class="text-capitalize">{{courtInfo.name}}</td>
                        <td>{{courtInfo.jurisdiction}}</td>
                        <td>{{courtInfo.city}}</td>
                        <td>{{courtInfo.address}}</td>
                        <td ng-if="roleLogin.courtInfoedit">
                            <button class="btn btn-primary"
                                    data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                    data-target="#caseTypeEdit" ng-click="editCourtPopup(courtInfo)"> <span class="glyphicon glyphicon-pencil"></span></button>
                            <!--<button class="btn btn-danger" data-toggle="modal"-->
                            <!--data-target="#caseTypeDelete"-->
                            <!--ng-click="deleteCasePopup(caseTypeInfo)"><span class="glyphicon glyphicon-trash"></span></button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="modal fade" id="createCourtModal" data-backdrop="static" data-keyboard="false" case="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left" lang="en">Create Court</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="courtCreationError">{{createCourtTypeError}}</div>
                    <form class="row simple-form" ng-submit="createCourts(court)">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label  for="name" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Court Name</span>:</label>
                            <input  type="text" class="form-control"
                                   id="name" ng-model="court.name"
                                   placeholder="Enter Court Name"  maxlength="50"
                                   title="Enter Court Name" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label  for="jurisdiction" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Jurisdiction</span>:</label>
                            <input type="text" class="form-control"
                                   id="jurisdiction" ng-model="court.jurisdiction"
                                   placeholder="Enter Jurisdiction"
                                   title="Enter Jurisdiction" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off"  />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label for="city"><span
                                    class="color-red f-bold f-left"></span><span lang="en">City</span>:</label>
                            <input type="text" class="form-control"
                                   id="city" ng-model="court.city"
                                   placeholder="Enter City"
                                   title="Enter City" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off"  />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label for="address"lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Address</span>:</label>
                            <input type="text" class="form-control"
                                   id="address" ng-model="court.address"
                                   placeholder="Enter Address"
                                   title="Enter Address" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off"  />
                        </div>
                        <input id="saveCourts" class="btn btn-success" type="submit" lang="en" value="Submit"/>
                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="caseTypeEdit" data-backdrop="static" data-keyboard="false" case="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title text-left" lang="en">Edit Court</h4>
            </div>
            <div class="modal-body">

                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="courtUpdationError">{{updateCourtTypeError}}</div>
                    <form class="row simple-form" ng-submit="editCourts()">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label for="name" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Court Name</span>:</label>
                            <input type="name" class="form-control"
                                   id="name1"
                                   ng-model="updateCourts.name"
                                   placeholder=" Edit Court Name"  maxlength="20"
                                   title="Edit Court Name" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label for="jurisdiction" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Jurisdiction</span>:</label>
                            <input type="text" class="form-control"
                                   id="jurisdiction1"
                                   ng-model="updateCourts.jurisdiction"
                                   placeholder="Enter Jurisdiction"
                                   title="Enter Jurisdiction"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"  />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label for="jurisdiction" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">City</span>:</label>
                            <input type="text" class="form-control"
                                   id="city1"
                                   ng-model="updateCourts.city"
                                   placeholder="Enter City"
                                   title="Enter City"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"  />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label for="address" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Address</span>:</label>
                            <input type="text" class="form-control"
                                   id="address1"
                                   ng-model="updateCourts.address"
                                   placeholder="Enter Address"
                                   title="Enter Address"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"  />
                        </div>
                        <input type="submit" class="btn btn-success" lang="en" value="Update"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit()" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" data-backdrop="static" data-keyboard="false"  role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>
