<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item"><a href="#/budgetPlans"><span lang="en">Bugdget Plan</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Department Wise Budgets</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">

            <a  href="#/budgetPlans" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Department Wise Budgets</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectRisks')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="row">
            <!--<div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">-->
                <!--<label><span class="color-red f-bold f-left">*</span><span lang="en">ULB </span>:</label><br>-->
                <!--<select class="" ng-model="department.ulb" required>-->
                    <!--<option value="">-&#45;&#45;Select ULB-&#45;&#45;</option>-->
                    <!--<option ng-repeat="x in ulbList" value="{{x.name}}">{{x.name}}</option>-->
                <!--</select>-->
            <!--</div>-->

                <div class="col-lg-4 col-md-4 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <h5 class="text-left" lang="en">Select ULB</h5>
                        <ui-select ng-change="selectULB($select.selected.name)" ng-model="ulbId" theme="selectize">
                            <ui-select-match placeholder="Select or Search ULB ">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="x in ulbList | filter: $select.search">
                                <span ng-bind-html="x.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <h5 class="text-left" lang="en">Select Department</h5>
                        <ui-select ng-change="selectDepartment($select.selected.id)" ng-model="projectId" theme="selectize">
                            <ui-select-match placeholder="Select or Search Department">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="department in departmentList | filter: $select.search">
                                <span ng-bind-html="department.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-md-12 col-sm-12 col-xs-12">
                    <h5 class="text-left" lang="en">Select Financial Year</h5>
                    <div class="schemForms text-center">
                        <select ng-model="financialYear">
                            <option value="">Select Financial Year</option>
                            <option>2016-2017</option>
                            <option>2017-2018</option>
                            <option>2018-2019</option>
                            <option>2019-2020</option>
                            <option>2020-2021</option>
                            <option>2021-2022</option>
                            <option>2022-2023</option>
                            <option>2023-2024</option>
                            <option>2024-2025</option>
                            <option>2025-2026</option>
                            <option>2026-2027</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <button class="btn btn-primary m-top20" ng-click="searchPlans()" lang="en">Select Plans</button>

                <div ng-show="selectProjectDetails">
                    <form>
                        <table width="100%" border="1" class="m-top20">
                            <thead>
                            <tr>
                                <th lang="en">Select</th>
                                <th lang="en">Plan ID</th>
                                <th lang="en">Plan Name</th>
                                <th lang="en">Budget</th>
                                <th lang="en">Status</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="projectDetails in selectProjectDetails" ng-class="{'selected':selection.indexOf($index) != -1}">
                                <td><input id="checkItem" type="checkbox" ng-model="planDetails.checkPlan"  ng-click="checkList(projectDetails)"></td>
                                <td>{{projectDetails.planId}}</td>
                                <td>{{projectDetails.name}}</td>
                                <td>{{projectDetails.estimationCost}}</td>
                                <td>{{projectDetails.taskStatus}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <br />
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="showBudget">


                    <form role="form" name="myform" ng-submit="budgetDetails()">
                        <div class="modal-body border-style12">
                            <div ng-show="deptBudgetError" class="color-red f-bold f-left col-lg-12 col-md-12 col-sm-12 col-xs-12">{{deptBudgetErrorMessage}}</div>
                            <div class="row schemForms">
                                <div class="col-lg-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group color-red text-center" ng-show="errorShow">
                                        {{showError}}
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <div>
                                       <label lang="en"><span class="color-red f-bold f-left">*</span>Budget Amount</label>:
                                        <input type="text" class="form-control" ng-model="estimatedTotalAmount" valid-number maxlength="20" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                        <div>
                                            <label lang="en"><span class="color-red f-bold f-left">*</span>Current Financial Amount</label>:
                                            <input type="text" class="form-control" ng-model="currentFinYear" valid-number maxlength="20" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                        <div>
                                            <label lang="en"><span class="color-red f-bold f-left">*</span>Next Financial Year Amount</label>:
                                            <input type="text" class="form-control" ng-model="nextFinYear" valid-number maxlength="20" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 txt-centr">
                                <button type="submit" class="btn btn-success" lang="en">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>
</div>
</div>

    </div>