<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Vehicle Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Log Book</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Log Book</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#createCharter" lang="en" ng-click="removeData()" ng-show="addButtonShow">Add Log</button>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#logBook')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                            <!--<button class="btn btn-default pull-right m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <form class="row schemForms" role="form" name="myform">
                <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Department:</label>
                    <select data-style="btn-primary" ng-change="getEmployeeDepartment(assetTypelist.name)" ng-model="assetTypelist.name" class="m-top20 " >
                        <option value="" disabled>Select Department</option>
                        <option ng-repeat="assetTypelist in employeeListType"  value="{{assetTypelist.name}}">{{assetTypelist.name}}</option>
                    </select>
                </div>-->

                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span><span lang="en">Department</span>:</label>
                    <ui-select ng-change="getEmployeeDepartment($select.selected.name)" ng-model="assetTypelist.name" theme="selectize">
                                <ui-select-match placeholder="Select or Search Department">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="assetTypelist in employeeListType | filter: $select.search">
                                    <span ng-bind-html="assetTypelist.name | highlight: $select.search"></span>
                                    <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>

                <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Employee:</label>
                    <select data-style="btn-primary" ng-change="selectedEmployee(getDetails.employee)" ng-model="getDetails.employee" class="m-top20">
                        <option value="" disabled>Select Employee</option>
                        <option ng-repeat="employee in getDetailsEmp"  value="{{employee}}">{{employee.firstName}}</option>
                    </select>
                </div>-->

                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span><span lang="en">Employee</span>:</label>
                    <label><span lang="en"></span></label>
                            <ui-select ng-change="selectedEmployee($select.selected)" ng-model="getDetails.employee" theme="selectize">
                                <ui-select-match placeholder="Select or Search Employee">{{$select.selected.firstName}}</ui-select-match>
                                <ui-select-choices repeat="employee in getDetailsEmp | filter: $select.search">
                                    <span ng-bind-html="employee.firstName | highlight: $select.search"></span>
                                    <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>



                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label><span lang="en">Designation</span></label>
                    <input type="text" ng-model="employeeDesignation" readonly/>
                </div>
            </form>
                <hr />
            </div>

            <table id="logBook" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain">
                    <div class="projectTile"><span lang="en">Trip Log</span></div>
                    <div class="table-responsive projectInner">
                        <table datatable="ng" class="table table-bordered table-striped" id="charter">
                            <thead>
                            <tr>
                                <th lang="en">Date</th>
                                <th lang="en">From Place</th>
                                <th lang="en">To Place</th>
                                <th lang="en">Distance</th>
                                <th lang="en">Accomplished By</th>
                                <th lang="en">Purpose</th>
                                <th lang="en">Comments</th>
                                <th lang="en" class="width20">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="charter in logBookList">
                                <td class="text-capitalize"><p>{{charter.date}}</p></td>
                                <td class="text-capitalize"><p>{{charter.fromPlace}}</p></td>
                                <td class="text-capitalize"><p>{{charter.toPlace}}</p></td>
                                <td class="text-capitalize"><p>{{charter.distance}}</p></td>
                                <td class="text-capitalize"><p>{{charter.accomplishedBy}}</p></td>
                                <td class="text-capitalize">{{charter.purpose}}</td>
                                <td class="text-capitalize">{{charter.comments}}</td>
                                <td class="width120">
                                    <button class="btn btn-primary" ng-click="editCharterButton(charter)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div id="createCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Log Book</h4>
            </div>
            <div class="text-center color-red f-bold" ng-show="logbookError">{{logbookMsg}}</div>
            <form role="form" name="myform" ng-submit="createLogBook()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 colxs-12 form-group">
                             <label><span class="color-red f-bold f-left">*</span>Purchage Agenda ID:</label>
                             <input type="text" class="form-control" ng-model="charter.purchageAgendaId"/>
                         </div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Date</span>:</label>
                            <input  placeholder="Enter Date" type="text" ng-calendar ng-model="charter.date" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">From Place</span>:</label>
                            <textarea type="text" class="form-control" ng-model="charter.fromPlace" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">To Place</span>:</label>
                            <textarea type="text" class="form-control" ng-model="charter.toPlace" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Distance</span>:</label>
                            <textarea type="text" class="form-control" ng-model="charter.distance" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Accomplished By</span>:</label>
                            <textarea type="text" class="form-control" ng-model="charter.accomplishedBy" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Purpose</span>:</label>
                            <textarea type="text"  class="form-control" ng-model="charter.purpose" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Comments</span>:</label>
                            <textarea type="text"  class="form-control" ng-model="charter.comments" required /></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="editCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Log Book</h4>
            </div>
            <form role="form" name="myform" ng-submit="editLogBook()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                             <label>Purchage Agenda ID:</label>
                             <input type="text" class="form-control" ng-model="editCharterData.purchageAgendaId"/>
                         </div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span lang="en">Date</span>:</label>
                            <input  placeholder="Date Occurance" type="text" ng-calendar ng-model="editCharterData.date" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span lang="en">From Place</span>:</label>
                            <textarea type="text"  class="form-control" ng-model="editCharterData.fromPlace" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span lang="en">To Place</span>:</label>
                            <textarea type="text"  class="form-control" ng-model="editCharterData.toPlace" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span lang="en">Distance</span>:</label>
                            <textarea type="text" class="form-control" ng-model="editCharterData.distance" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span lang="en">Accomplished By</span>:</label>
                            <textarea type="text" class="form-control" ng-model="editCharterData.accomplishedBy" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span lang="en">Purpose</span>:</label>
                            <textarea type="text" class="form-control" ng-model="editCharterData.purpose" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span lang="en">Comments</span>:</label>
                            <textarea type="text" class="form-control" ng-model="editCharterData.comments" required /></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>


<div id="addLogBookSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully LogBook is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editFailureSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully LogBook is Updated.</div>
            </div>
        </div>

    </div>
</div>