<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Payment Order Report</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Payment Order</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#paymentOrder')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" id="scroll" ng-click="createPaymentOrder()" lang="en">Add Payment Order</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="paymentOrder" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
               <div>
                   <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectareas($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
               </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">
                        <div class="projectMain m-top20 m-btm20 table-responsive">
                            <div class="projectTile" lang="en">Plan Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->   <tr>
                            <td><b lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td class="width20">{{selectProjectDetails.estimationCost}}</td>
                            <td><b lang="en">Utilized Cost</b></td>
                            <td class="width20">:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>%</span> Complete</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>
                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Project Payment Order Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                                <thead>
                                <tr>
                                    <th lang="en">Payment Order Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="paymentOrder in paymentOrderList" >
                                    <td colspan="4">
                                        <table class="table nopadding">
                                            <tr>
                                                <td class="width120"><b lang="en">Bill Id</b>: <br />{{paymentOrder.billId}}</td>
                                                <td class="width120"><b lang="en">Total Amount</b>: <br />{{paymentOrder.estimatedAmount}}</td>
                                                <td><b lang="en">Approved Amount</b>: <br />{{paymentOrder.approvedAmount}}</td>

                                                <td class="width20">
                                                    <button class="btn btn-primary" ng-if="paymentOrder.editDetails" data-toggle="tooltip" title="Edit Details" ng-click="editPaymentOrderDetails(paymentOrder)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                </td>
                                                <td class="width20">
                                                    <button type="button" data-toggle="tooltip" title="View Payment Order Details" ng-click="payOrderDetailsModal(paymentOrder)"class="btn btn-primary" >
                                                        <span class="glyphicon glyphicon-th-large"></span>
                                                    </button>
                                                </td>
                                                <td class="width20" data-toggle="tooltip" title="View Workflow Details"  >
                                                    <button class="btn btn-default" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                        <span class="glyphicon glyphicon-eye-open"></span></button>
                                                </td>
                                                <td class="width20">
                                                    <button type="button" data-toggle="tooltip" title="Approve"  ng-if="paymentOrder.approveFiledVisit" ng-click="approvalModal(paymentOrder)" class="btn btn-success" >
                                                        <span class="glyphicon glyphicon-ok"  ></span>
                                                    </button>
                                                </td>
                                                <td class="width20">
                                                    <button type="button" ng-if="paymentOrder.approveFiledVisit" data-toggle="tooltip" title="Reject" ng-click="rejectModal(paymentOrder)"class="btn btn-danger" >
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="demo-{{$index}}">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th lang="en">Workflow Id</th>
                                                                <th lang="en">Workflow Level</th>
                                                                <th lang="en">Level No</th>
                                                                <th lang="en">Status</th>
                                                                <th lang="en">Approval Amount</th>
                                                                <th lang="en">Approval Person</th>
                                                                <th lang="en">Date</th>
                                                                <th lang="en">Comment</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="workflow in paymentOrder.workflow">
                                                                <td>{{workflow.workflowId}} </td>
                                                                <td>{{workflow.levelId}}  </td>
                                                                <td>{{workflow.levelNo}}  </td>
                                                                <td>{{workflow.approvalStatus}}  </td>
                                                                <td>{{workflow.approvedAmount}}  </td>
                                                                <td>{{workflow.employeeName}}  </td>
                                                                <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                                <td>{{workflow.comment}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="createPaymentOrderReport" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Payment Order</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="addPaymentOrderReport()">
            <div class="modal-body">
                <div class="row schemForms">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label><span class="color-red f-bold f-left">*</span>Bill No:</label>
                        <select ng-model="paymentOrder.billId" data-style="btn-primary" required>
                            <option value="">Select Bill No</option>
                            <option ng-repeat="billInfo in billDataList" value="{{billInfo.billId}}">{{billInfo.billId}}</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label></label>
                        <a class="btn btn-info btn-block" ng-click="addRow()">Add Work/Article</a>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="200">Particular of Work or Articles</th>
                                        <th width="200">Quality/Weight</th>
                                        <th width="200">Rate</th>
                                        <th width="200">Unit</th>
                                        <th width="200">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="rowContent in paymentOrder.rows">
                                        <td>
                                            <input  placeholder="Enter Particular of Work or Articles" type="text" ng-model="rowContent.article" required/>
                                        </td>
                                        <td>
                                            <select ng-model="rowContent.quantity" data-style="btn-primary" required>
                                                <option value="">Select Units</option>
                                                <option value="meterCubes">m<sup>3</sup></option>
                                                <option value="kiloMeter">KM</option>
                                            </select>

                                        </td>
                                        <td>
                                            <input  placeholder="Enter Rate"  type="text" valid-number ng-model="rowContent.rate"  ng-change="orderRate($index)" required/>
                                        </td>
                                        <td>
                                            <input  placeholder="Enter Unit"  type="text" valid-number ng-model="rowContent.units"  ng-change="orderRate($index)" required/>
                                        </td>
                                        <td>
                                            <input  placeholder="Enter Amount"  type="text" valid-number  ng-model="rowContent.rowAmount" readonly required/>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" ng-click="removeGroup($index, $event)"><i class="fa fa-remove"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Total Amount</label>:
                        {{paymentOrder.estimatedAmount}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Submit</button>
                <button type="button" ng-click="reset()" class="btn btn-info" lang="rn">Reset</button>
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div id="editPaymentOrderReport" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Payment Order</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="editPaymentOrderReport()">
            <div class="modal-body">
                <div class="row schemForms">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label><span class="color-red f-bold f-left">*</span>Bill No:</label>
                        <select ng-model="editPaymentOrderVisit.billId" data-style="btn-primary" required>
                            <option value="">Select Bill No</option>
                            <option ng-repeat="billInfo in billDataList" ng-selected="billInfo.billId==editPaymentOrderVisit.billId" value="{{billInfo.billId}}">{{billInfo.billId}}</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label></label>
                        <a class="btn btn-info btn-block" ng-click="addRowEdit()">Add Work/Article</a>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="200">Particular of Work or Articles</th>
                                        <th width="200">Quality/Weight</th>
                                        <th width="200">Rate</th>
                                        <th width="200">Unit</th>
                                        <th width="200">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="rowContent in editPaymentOrderVisit.rows">
                                        <td>
                                            <input  placeholder="Enter Particular of Work or Articles" type="text" ng-model="rowContent.article" required/>
                                        </td>
                                        <td>   <select ng-model="rowContent.quantity" data-style="btn-primary" required>
                                            <option value="">Select Units</option>
                                            <option value="meterCubes">m<sup>3</sup></option>
                                            <option value="kiloMeter">KM</option>
                                        </select>
                                        </td>
                                        <td>
                                            <input  placeholder="Enter Rate"  type="text" valid-number ng-model="rowContent.rate"  ng-change="editOrderRate($index)" required/>
                                        </td>
                                        <td>
                                            <input  placeholder="Enter Unit"  type="text" valid-number ng-model="rowContent.units"  ng-change="editOrderRate($index)" required/>
                                        </td>
                                        <td>
                                            <input  placeholder="Enter Amount"  type="text" valid-number  ng-model="rowContent.rowAmount" readonly required/>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" ng-click="removeGroupEdit($index, $event)"><i class="fa fa-remove"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Total Amount</label>:
                        {{editPaymentOrderVisit.estimatedAmount}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Submit</button>
                <button type="button" ng-click="reset()" class="btn btn-info" lang="rn">Reset</button>
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>



<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Approve Payment Order Request</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Total Amount</label>
                            <input type="text" ng-model="orderEditData.estimatedAmount"  readonly required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Approval Amount</label>
                            <input type="text"  ng-model="comments.approvedAmount" placeholder="Enter Approval Amount" required></textarea>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Approve</button>
                    <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Reject Payment Order Request</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="editFieldVisitReportSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">
                    Payment Order added successfully</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>
<div id="errorMessageDisplay" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully Payment Order is Updated.</div>
            </div>
        </div>
    </div>
</div>


<div id="viewPayOrderDetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Payment Order Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped nopadding">
                        <tbody>
                        <tr>
                            <td class="width120"><b lang="en">Plan Id</b></td>
                            <td class="width20">:</td>
                            <td>{{paymentOrderDetails.planId}}</td>
                            <!--<td class="width120"><b lang="en">SubTask Name</b></td>-->
                            <!--<td class="width20">:</td>-->
                            <!--<td>{{paymentOrderDetails.subtask}}</td>-->
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Estimated Amount</b></td>
                            <td class="width20">:</td>
                            <td>{{paymentOrderDetails.estimatedAmount}}</td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <table class="table table-bordered theadBg nopadding">
                                    <thead>
                                    <tr>
                                        <th colspan="6" class="text-center">Pay Details</th>
                                    </tr>
                                    <tr>
                                        <th>article</th>
                                        <th>quantity</th>
                                        <th>Rate</th>
                                        <th>units</th>
                                        <th>rowAmount</th>
                                        <!--<th>Description</th>-->
                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr data-ng-repeat="rowData in paymentOrderDetails.rows">
                                        <td>{{rowData.article}}</td>
                                        <td>{{rowData.quantity}}</td>
                                        <td>{{rowData.rate}}</td>
                                        <td>{{rowData.units}}</td>
                                        <td>{{rowData.rowAmount}}</td>
                                        <!--<td>{{rowData.billDescription | limitTo: 20}}{{rowData.billDescription.length > 20 ? '...' : ''}}</td>-->
                                    </tr>
                                    </thead>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Created Person</b></td>
                            <td class="width20">:</td>
                            <td>{{paymentOrderDetails.createdPerson}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Created Time</b></td>
                            <td class="width20">:</td>
                            <td>{{paymentOrderDetails.createdTime | date: "dd-MM-yyyy hh:mm:ss a"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer text-center">
                <!--<button type="button" class="btn btn-success" lang="en">Ok</button>-->
                <button type="button" class="btn btn-success" ng-click="editPayOrder(paymentOrderDetails)" lang="en">Edit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Ok</button>
            </div>
        </div>
    </div>
</div>