<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project TOR </span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span>Project TOR Report</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#fieldVisitExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" ng-click="addTOR()" lang="en">Add Project TOR</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="fieldVisitExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
               <div>
                   <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectPlanId($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
               </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">
                        <div class="projectMain m-top20 m-btm20 table-responsive">
                            <div class="projectTile" lang="en">Plan Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->   <tr>
                            <td><b lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td class="width20">{{selectProjectDetails.estimationCost}}</td>
                            <td><b lang="en">Utilized Cost</b></td>
                            <td class="width20">:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>%</span> Complete</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>
                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Project Terms OF Reference(TOR) Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                                <thead>
                                <!--{{torDetailsList}}-->
                                    <tr>
                                        <th lang="en">Task Objective</th>
                                        <th lang="en">Task Outline</th>
                                        <th lang="en">Client(Municipality) Inputs</th>
                                        <th lang="en">Expected Outcome/Results</th>
                                        <th lang="en">Committee Employee</th>
                                        <th lang="en">CV details</th>
                                        <th lang="en">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                             <tr ng-repeat="tor in torDetailsList" >
                                 <td>{{tor.objective}}</td>
                                 <td>{{tor.outline}}</td>
                                 <td>{{tor.inputData}}</td>
                                 <td>{{tor.outputData}}</td>
                                 <td>{{tor.reviewPersonName}}</td>
                                 <td> <li ng-repeat="f in tor.documents">
                                     <a target="_blank" href="{{docUploadURL}}{{f._id}}">{{f.filename}}</a> <!--<span class="glyphicon glyphicon-trash" ng-click="deleteFile(f._id, $index)"></span>-->
                                 </li></td>
                                <td> <button class="btn btn-primary" ng-click="editTORDetails(tor)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                             </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<div id="createProjectTOR" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Project TOR</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="createTORDetails()">
            <div class="modal-body">
                <div class="row schemForms">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <label><span class="color-red f-bold f-left">*</span>Task Objective</label>
                        <textarea rows="3" ng-model="createTor.objective" placeholder="Enter Objective" required></textarea>
                      </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Task Outline</label>:
                        <textarea rows="3" ng-model="createTor.outline" placeholder="Enter outline" required></textarea>
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">Schedules</div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 nopadding">
                                <button class="btn btn-primary pull-right width10" ng-click="addRow()">Add</button>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <hr class="m-tb10"/>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table class="table">
                                    <thead>
                                        <th>Schedule</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="schedule in createTor.scheduleList">
                                            <td>  <input ng-model="schedule.name"  type="text"  required/></td>
                                            <td><input type="text" ng-calendar ng-model="schedule.startDate"  format="%d-%m-%Y" readonly required/></td>
                                            <td><input type="text" ng-calendar ng-model="schedule.endDate"  format="%d-%m-%Y" readonly required/></td>
                                            <td><button type="button" class="btn btn-danger" ng-click="removeRow($index)"><i class="fa fa-remove"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Client(Municipality) Inputs</label>:
                        <textarea rows="3" ng-model="createTor.inputData" placeholder="Enter Objective" required></textarea>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Expected Outcome/Results</label>:
                        <textarea rows="3" ng-model="createTor.outputData" placeholder="Enter Objective" required></textarea>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Review Committee Member</label>:
                        <select ng-model="createTor.reviewPerson" data-style="btn-primary" required>
                            <option value="">Select Employee</option>
                            <option ng-repeat="employee in employeeList" value="employee.employeeId">{{employee.name}}</option>
                        </select>
                    </div>


                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Professional CVs Details</label>:
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Upload CV </label>:
                        <br>
                        <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'application/pdf'">Upload CV</button>
                        <br>
                        <br>Files:
                        <ul>
                            <li ng-repeat="f in oldDocList">
                                {{f.filename}}
                            </li>
                        </ul>
                        <br>New Files:
                        <ul>
                            <li ng-repeat="f in docList">
                                {{f.filename}} <span class="glyphicon glyphicon-trash" ng-click="deleteFile(f._id, $index)"></span>
                            </li>
                        </ul>
                        <span class="progress" ng-show="progress >= 0"></span>
                        <!--<div ng-bind="progress + '%'">

                        </div>-->
                    </div>

                <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>Review Commit Members</label>
                    <select ng-model="editFiledVisitDetails.level" data-style="btn-primary" required>
                        <option value="">Select Task</option>
                        <option ng-repeat="employee in getEmployeeList2" ng-selected="editFieldVisit.level" value="{{editFieldVisit.level}}">{{editFieldVisit.level}}</option>
                    </select>

                </div>-->
            </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Submit</button>
                <button type="button" ng-click="reset()" class="btn btn-info" lang="rn">Reset</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>


<div id="editProjectTORModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Project TOR</h4>
            </div>


           <!-- <form role="form" class="" name="myform" class="adminContent" ng-submit="editTORDetailsData()">
                <div class="modal-body">
                <div class="row schemForms">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <label><span class="color-red f-bold f-left">*</span>Task Name</label>
                          <select ng-change="selectedTask(editTOR.indexId)" ng-model="editTOR.indexId" data-style="btn-primary" required>
                              <option value="">Select Task</option>
                              <option ng-repeat="task in subTaskList" ng-selected="editTOR.indexId==$index" value="{{$index}}">{{task.subTaskName}}-{{task.headerName}}</option>
                          </select>

                      </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Task Objective</label>:
                        <textarea rows="3" ng-model="editTOR.comment" placeholder="Enter Description" required></textarea>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Task Start Date</label>:
                        <input type="text" ng-model="editTOR.startDate" readonly required/>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Task End Date</label>:
                        <input ng-model="editTOR.endDate"  type="text" readonly required/>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Client(Municipality) Inputs</label>:
                        <input  placeholder="Please enter inputs" ng-model="editTOR.inputData" type="text" required/>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Expected Outcome/Results</label>:
                        <input  placeholder="Please enter Outcomes" ng-model="editTOR.outputData"  type="text" required/>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Professional CVs Details</label>:
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Name</label>:
                        <input  placeholder="Please enter CV person name" ng-model="editTOR.cvPersonName" type="text" required/>
                        <br>
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Upload CV </label>:
                        <br>
                        <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'application/pdf'">Upload CV</button>
                        <br>
                        <br>Files:
                        <ul>
                            <li ng-repeat="f in oldDocList">
                                {{f.filename}}</span>
                            </li>
                        </ul>
                        <br>New Files:
                        <ul>
                            <li ng-repeat="f in docList">
                                {{f.filename}} <span class="glyphicon glyphicon-trash" ng-click="deleteFile(f._id, $index)"></span>
                            </li>
                        </ul>
                        <span class="progress" ng-show="progress >= 0"></span>
                        &lt;!&ndash;<div ng-bind="progress + '%'">
                        </div>&ndash;&gt;
                    </div>

                &lt;!&ndash;<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>Review Commit Members</label>
                    <select ng-model="editFiledVisitDetails.level" data-style="btn-primary" required>
                        <option value="">Select Task</option>
                        <option ng-repeat="employee in getEmployeeList2" ng-selected="editFieldVisit.level" value="{{editFieldVisit.level}}">{{editFieldVisit.level}}</option>
                    </select>
                </div>&ndash;&gt;
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Submit</button>
                <button type="button" ng-click="reset()" class="btn btn-info" lang="rn">Reset</button>
                <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>-->
            <form role="form" class="" name="myform" class="adminContent" ng-submit="editTORDetailsData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center" ng-show="errorMessage">
                            {{showError}} <hr class="m-tb10" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Task Objective</label>
                            <textarea rows="3" ng-model="editTOR.objective" placeholder="Enter Objective" required></textarea>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Task Outline</label>:
                            <textarea rows="3" ng-model="editTOR.outline" placeholder="Enter outline" required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">Schedules</div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 nopadding">
                                    <button class="btn btn-primary pull-right" ng-click="editRow()">Add</button>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <hr class="m-tb10" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <table class="table">
                                        <thead>
                                        <th>Schedule</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Action</th>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="schedule in editTOR.scheduleList">
                                            <td>  <input ng-model="schedule.name"  type="text"  required/></td>
                                            <td><input type="text" ng-calendar ng-model="schedule.startDate"  format="%d-%m-%Y" readonly required/></td>
                                            <td><input type="text" ng-calendar ng-model="schedule.endDate"  format="%d-%m-%Y" readonly required/></td>
                                            <td><button type="button" class="btn btn-danger" ng-click="removeRow($index)"><i class="fa fa-remove"></i></button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Client(Municipality) Inputs</label>:
                            <textarea rows="3" ng-model="editTOR.inputData" placeholder="Enter Objective" required></textarea>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Expected Outcome/Results</label>:
                            <textarea rows="3" ng-model="editTOR.outputData" placeholder="Enter Objective" required></textarea>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Review Committee Member</label>:
                            <select ng-model="editTOR.reviewPerson" data-style="btn-primary" required>
                                <option value="">Select Employee</option>
                                <option ng-repeat="employee in employeeList" value="employee.employeeId">{{employee.name}}</option>
                            </select>
                        </div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Professional CVs Details</label>:
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Upload CV </label>:
                            <br>
                            <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'application/pdf'">Upload CV</button>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <br>Already Uploaded Files:
                                    <table class="table table-bordered">
                                        <tr ng-repeat="f in docList">
                                            <td>{{f.filename}}</td>
                                            <td class="width20"><span class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteFile(f._id, $index)"></span></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <br>New Files:
                                    <table class="table table-bordered">
                                        <tr ng-repeat="f in editTOR.documnets">
                                            <td>{{f.filename}}</td>
                                            <td class="width20"><span class="glyphicon glyphicon-trash" ng-click="deleteFile(f._id, $index)"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                            <span class="progress" ng-show="progress >= 0"></span>
                            <!--<div ng-bind="progress + '%'">

                            </div>-->
                        </div>

                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Review Commit Members</label>
                            <select ng-model="editFiledVisitDetails.level" data-style="btn-primary" required>
                                <option value="">Select Task</option>
                                <option ng-repeat="employee in getEmployeeList2" ng-selected="editFieldVisit.level" value="{{editFieldVisit.level}}">{{editFieldVisit.level}}</option>
                            </select>

                        </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="disable" lang="en">Submit</button>
                    <button type="button" ng-click="reset()" class="btn btn-info" lang="rn">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="editProjectTorReportSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage"> Project TOR edited  successfully</div>
            </div>
        </div>
    </div>
</div>