<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Vehicle Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Submit Bills</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Submit Bills</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-if="roleLogin.submitBillsedit">
                        <div class="addScheme pull-right">
                            <button class="btn btn-success pull-right" data-toggle="modal" ng-click="removeData()" data-target="#createCharter" ng-show="addButtonShow"><span lang="en">Add Bill</span></button>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#submitBills')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                            <!--<button class="btn btn-default pull-right m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="row schemForms" role="form" name="myform">
                    <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label>Department:</label>
                        <select data-style="btn-primary" ng-change="getEmployeeDepartment(assetTypelist.name)" ng-model="assetTypelist.name" class="m-top20 " >
                            <option value="" disabled>Select Department</option>
                            <option ng-repeat="assetTypelist in departmentList"  value="{{assetTypelist.name}}">{{assetTypelist.name}}</option>
                        </select>
                    </div>-->

                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Department</label>
                        <ui-select ng-change="getEmployeeDepartment($select.selected.name)" ng-model="assetTypelist.name" theme="selectize">
                            <ui-select-match placeholder="Select or Search Department">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="assetTypelist in departmentList | filter: $select.search">
                                <span ng-bind-html="assetTypelist.name | highlight: $select.search"></span>
                                <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                    </div>



                    <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label>Employee:</label>
                        <select data-style="btn-primary" ng-change="selectedEmpList(getDetails.employee)" ng-model="getDetails.employee" class="m-top20 " >
                            <option value="" disabled>Select Employee</option>
                            <option ng-repeat="employee in getDetailsList"  value="{{employee}}">{{employee.firstName}}</option>
                        </select>
                    </div>-->

                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-show="getDetailsListTrue">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Employee</label>
                        <ui-select ng-change="selectedEmpList($select.selected)" ng-model="employee.selected" theme="selectize">
                            <ui-select-match placeholder="Select or Search Employee">{{$select.selected.firstName}}</ui-select-match>
                            <ui-select-choices repeat="employee in getDetailsList | filter: $select.search">
                                <span ng-bind-html="employee.firstName | highlight: $select.search"></span>
                                <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                    </div>


                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-show="getDetailsListTrue">
                        <label lang="en">Designation</label>
                        <input type="text" ng-model="empDesignation" readonly/>
                    </div>

                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label>Select Asset Name</label>
                        <select class="" ng-model="selectAsset" required ng-change="selectedAsset(selectAsset)">
                            <option disabled value="">---Select Asset Name---</option>
                            <option  ng-repeat="x in assetResp" value="{{x.assetNumber}}">{{x.assetName}}</option>
                        </select>

                    </div>


                </form>
            </div>

            <table id="submitBills" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <!--    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="projectMain">
                        <div class="projectTile">Submited Bills Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" class="table table-bordered table-striped" id="charter">
                                <thead>
                                <tr>
                                    <th>Bill Date</th>
                                    <th>Bill Number</th>
                                    <th>Amount</th>
                                    <th>Purpose</th>
                                    <th>Reason</th>
                                    <th class="width20">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="charter in submitBillsList">
                                    <td><p>{{charter.billDate}}</p></td>
                                    <td><p>{{charter.billNumber}}</p></td>
                                    <td><p>{{charter.amount}}</p></td>
                                    <td><p>{{charter.purpose}}</p></td>
                                    <td><p>{{charter.reason}}</p></td>
                                    <td class="width120">
                                        <button class="btn btn-primary" ng-click="editCharterButton(charter)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>-->
        </div>
        <div class="projectMain m-top20 m-btm20 " ng-show="submitBillsListTrue">
            <div class="projectTile"><span lang="en">Submit Bills Details</span></div>

            <div class="table-responsive projectInner">
                <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped" >

                    <tbody>
                    <!--     {{filedVisitList}}-->

                    <tr ng-repeat="charter in submitBillsList" class="tableRepeatText" >
                        <td class="nopadding">
                            <table class="table nopadding table-bordered table-striped" >
                                <thead>
                                <th lang="en">Bill Date</th>
                                <th lang="en">Bill Number</th>
                                <th lang="en">Amount</th>
                                <th lang="en">Purpose</th>
                                <th lang="en">Reason</th>
                                <th colspan="4" lang="en">Action</th>

                                </thead>
                                <tbody>
                                <tr>
                                    <td><p>{{charter.billDate}}</p></td>
                                    <td><p>{{charter.billNumber}}</p></td>
                                    <td><p>{{charter.amount}}</p></td>
                                    <td><p>{{charter.purpose}}</p></td>
                                    <td><p>{{charter.reason}}</p></td>

                                    <td class="width50">
                                        <button class="btn btn-primary"  data-toggle="tooltip" title="Edit bill details" ng-if="charter.editDetails" ng-click="editProjectUploads(charter)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>

                                    <td class="width50">
                                                    <span data-toggle="tooltip" title="View bill Details">
                                                        <button class="btn btn-default center-block" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </button>
                                                    </span>
                                    </td>
                                    <td class="width50" ng-if="charter.approveFiledVisit">
                                        <!--data-toggle="modal" data-target="#approavlReport"-->
                                        <!--data-toggle="modal" data-target="#rejectReport"-->
                                        <button type="button" ng-if="charter.approveFiledVisit" data-toggle="tooltip" title="Approve" ng-click="approvalModal(charter)" class="btn btn-success" >
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    </td>
                                    <td class="width50" ng-if="charter.approveFiledVisit">
                                        <button type="button" ng-if="charter.approveFiledVisit"  data-toggle="tooltip" title="Reject" ng-click="rejectModal(charter)"class="btn btn-danger" >
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="hiddenRow">
                                        <div class="accordian-body collapse" id="demo-{{$index}}">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th lang="en">Workflow Id</th>
                                                    <th lang="en">Workflow Level</th>
                                                    <th lang="en">Level No</th>
                                                    <th lang="en">Status</th>
                                                    <th lang="en">Approval Person</th>
                                                    <th lang="en">Date</th>
                                                    <th lang="en">Comment</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="workflow in charter.workflow">
                                                    <td>{{workflow.workflowId}} </td>
                                                    <td>{{workflow.levelId}}  </td>
                                                    <td>{{workflow.levelNo}}  </td>
                                                    <td>{{workflow.approvalStatus}}  </td>
                                                    <td>{{workflow.employeeName}}  </td>
                                                    <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                    <!-- <td>
                                                         &lt;!&ndash;  <button>Approval</button>
                                                       <button>Reject</button>&ndash;&gt;
                                                         <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#approavlReport">Approval</button>
                                                         <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectReport">Reject</button>
                                                     </td>-->
                                                    <td>{{workflow.comment}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>
</div>
<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Approval Bill</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Approve</button>
                    <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Reject Bill</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="createCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add Submit Bills</h4>
            </div>
            <form role="form" name="myform" ng-submit="createSubmitBills()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 colxs-12 form-group">
                             <label><span class="color-red f-bold f-left">*</span>Purchage Agenda ID:</label>
                             <input type="text" class="form-control" ng-model="charter.purchageAgendaId"/>
                         </div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <div class="text-center color-red f-bold" ng-show="errorMsg">{{error}}</div>
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Bill Date</span>:</label>
                            <input  placeholder="Enter Bill Date" type="text" ng-calendar ng-model="charter.billDate" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Bill Number</span>:</label>
                            <input type="text" numbers-only maxlength="12" class="form-control" ng-model="charter.billNumber" required />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Amount</span>:</label>
                            <input type="text" valid-number maxlength="10" required class="form-control"  placeholder="Please enter Bill amount" ng-model="charter.amount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
                            <!--<input type="text" class="form-control" ng-model="charter.amount" valid-number required />-->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Purpose</span>:</label>
                            <textarea type="text" class="form-control" ng-model="charter.purpose" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Reason</span>:</label>
                            <textarea type="text" class="form-control" ng-model="charter.reason" required /></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="editCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Submitted Bills</h4>
            </div>
            <form role="form" name="myform" ng-submit="editSubmitBills()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                             <label>Purchage Agenda ID:</label>
                             <input type="text" class="form-control" ng-model="editCharterData.purchageAgendaId"/>
                         </div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span lang="en">Bill Date</span>:</label>
                            <input  placeholder="Date Occurance" type="text" ng-calendar ng-model="editCharterData.billDate" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span lang="en">Bill Number</span>:</label>
                            <textarea type="text"  class="form-control" ng-model="editCharterData.billNumber" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span lang="en">Amount</span>:</label>
                            <!--<input type="number" class="form-control"  placeholder="Please enter Bill amount" ng-model="editCharterData.amount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />-->
                            <input type="text" valid-number maxlength="10" required class="form-control"  placeholder="Please enter Bill amount" ng-model="editCharterData.amount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span lang="en">Purpose</span>:</label>
                            <textarea type="text" class="form-control" ng-model="editCharterData.purpose" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span lang="en">Reason</span>:</label>
                            <textarea type="text" class="form-control" ng-model="editCharterData.reason" required /></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addPlanLayoutSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <h5>Successfully Bill Details Are Created</h5>
                <!--<h5 class="color-red">{{createTaskDetailsView}}</h5>-->
                <!--  <h4>{{upload.location}}</h4>-->

            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<div id="editPlanLayoutSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Bill Details Are Updated.</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>