<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Filed Visit Report</div>
                    </div>
                    <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <button class="btn btn-danger pull-right" ng-click="createCharter()">Create Charter</button>
                    </div>-->
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <td class="width160"><b>Plan ID</b></td>
                            <td class="width20">:</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><b>Plan Name</b></td>
                            <td>:</td>
                            <td>Name1</td>
                        </tr>
                        <tr>
                            <td><b>Financial Year</b></td>
                            <td>:</td>
                            <td>Financial Year</td>
                        </tr>
                        <tr>
                            <td><b>Applicant ID</b></td>
                            <td>:</td>
                            <td>Applicant ID</td>
                        </tr>
                        <tr>
                            <td><b>Start Date</b></td>
                            <td>:</td>
                            <td>Start Date</td>
                        </tr>
                        <tr>
                            <td><b>End Date</b></td>
                            <td>:</td>
                            <td>End Date</td>
                        </tr>
                        <tr>
                            <td><b>Estimation Cost</b></td>
                            <td>:</td>
                            <td>Estimation Cost</td>
                        </tr>
                        <tr>
                            <td><b>Utilized Cost</b></td>
                            <td>:</td>
                            <td>Utilized Cost</td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td>:</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td><b>% Complete</b></td>
                            <td>:</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td><b>Plan Description</b></td>
                            <td>:</td>
                            <td>Plan Description</td>
                        </tr>

                        </tr>
                    </table>



                </div>
            </div>
        </div>

    </div>
</div>